body {
  background-color: red;
}

.clock-module{
  position: relative;
  left: 40%;
}

.time {
  position: absolute;
  background-color: orange;
  width: 250px;
  top: 50px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
}

.clock {
  position: absolute;
  font-family: sans-serif;
}

