body {
  background-color: grey;
  /* background-color: black; */
  /* background-image: url(https://elhombreblandengue.files.wordpress.com/2011/11/miscellaneous-89055.jpeg); */
}

.clock-module{
  position: relative;
  left: 40%;
}

.time {
  position: absolute;
  background-color: lightblue;
  width: 250px;
  top: 50px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  font-family: courier;
  
}

.clock {
  color: white; 
  position: absolute;
  font-family: courier;
}

.date {
  position: absolute;
  background-color: lightblue;
  width: 250px;
  top: 200px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  font-family: courier;
  
}

.date-head {
  color: white; 
  position: absolute;
  top: 150px; 
  font-family: courier;
}